*.bat
*.obj
*.dll
*.exe
*.o
*.so
*.ilt
*.pdb
*.ttf
*.tlog
*.lib
*.log
*.lastbuildstate
*.suo
*.vcxproj
*.filter
*.user
*.png
*.tmx
*.wav
*.tsx
*.sdf
*.opensdf
*.sln
*.idb
*.ilk
*.filters
*.zip
*.xml
*.vert
*.frag